<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZHd_nGdO5UjT_A3-x0WROwJJ7B61-dlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87807759596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findanyFlutter</string>
	<key>PROJECT_ID</key>
	<string>findany-84c36</string>
	<key>STORAGE_BUCKET</key>
	<string>findany-84c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87807759596:ios:dc34de72819c202cdb81c9</string>
</dict>
</plist>